<script context="module">
  export async function preload({ params }) {
    return { slug: params.slug };
  }
</script>

<script>
  import Typogrpahy from "../components/Typography.svelte";
  import * as components from "./demo";
  export let slug = "";
</script>
{#if components[slug]}
  <svelte:component this={components[slug]} />
{:else}
  <Typogrpahy type="title">No such component</Typogrpahy>
{/if}
