<script>
  import { Button, Typography, Spacer, Chip } from "../components/";

  import Example from "./_components/Example.svelte";
</script>

<Typography block type="headline">Svelte Atoms</Typography>
<Spacer size={8} />
<Typography block>
  This UI library for svelte, based on
  <Typography type="link">
    <a href="http://atol.ru/">Atol</a>
  </Typography>
  design.
</Typography>
<Typography block>
  Library in active development, please create an issue for any found bug.
</Typography>
<Typography type="link">
  <a href="https://gitlab.com/az67128/svelte-atoms">Gitlab repository</a>
</Typography>
<Spacer size={32} />

<Typography block type="headline">Usage</Typography>
<Spacer size={8} />
<Example code={`npm install -D svelte-atoms`}>
  <Typography>Intall package</Typography>
</Example>
<Example
  code={`${'<'}script>
  import Variables from "svelte-atoms/Variables.svelte";
</script>

<Variables />
`}>
  <Typography>Import variables set</Typography>
</Example>
<Example
  code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button iconLeft='favorite-fill'>Enjoy!</Button>
`}>
  <Button iconLeft="favorite-fill">Enjoy!</Button>
</Example>
<Spacer size={32} />

<Typography block type="headline">Features</Typography>
<Typography block>
  All components supports class prop. String will be added to component classes
  list.
</Typography>

<Example
  code={`${'<'}script>
  import Typography from "svelte-atoms/Typography";
</script>

<style>
  :global(.redLink) {
    border-bottom: 1px solid red;
  }
</style>

<Typography class="redLink">With class</Typography>
`}>
  <Typography class="redLink">With class</Typography>
</Example>

<Typography block>Export from root also supported.</Typography>
<Example
  code={`${'<'}script>
  import {Chip} from "svelte-atoms";
</script>

<Chip text="Enjoy" iconLeft="check" />
`}>
  <Chip text="Enjoy" iconLeft="check" />
</Example>

<style>
  :global(.redLink) {
    border-bottom: 1px solid red;
  }
</style>
