<script>
  import Typography from "../../components/Typography.svelte";
  export let color = {};
</script>

<div class="container">
  <div class="color" style={`background:var(${color.var})`} />
  <div class="description">
    <Typography block>{color.var}</Typography>
    <Typography block type="body3">{color.hex}</Typography>
  </div>
</div>

<style>
  .container {
    display: flex;
  }
  .color {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    margin-bottom: 8px;
  }
  
</style>
