<script>
  import Typography from "../../components/Typography.svelte";
  import Button from "../../components/Button.svelte";
  import Props from "./Props.svelte";

  export let name;
  export let props = null;

  let isPropsVisible = false;
</script>

<div class:isPropsPassed={props}>
  <Typography block type="headline">{name}</Typography>
  {#if props}
    <Button type="empty" on:click={() => (isPropsVisible = !isPropsVisible)}>
      {#if isPropsVisible}Hide{:else}Show{/if}
      Props
    </Button>
  {/if}
</div>
<div class="divider" />

{#if isPropsVisible}
  <Props {props} />
{:else}
  <slot />
{/if}

<style>
  .divider {
    border-bottom: 1px solid var(--palette-noactive-4);
    margin-bottom: 8px;
  }
  .isPropsPassed {
    display: flex;
    justify-content: space-between;
  }
</style>
