<script>
  import Typography from "../../components/Typography.svelte";
  import Table from "../../components/Table/Table.svelte";
  import Tbody from "../../components/Table/Tbody.svelte";
  import Thead from "../../components/Table/Thead.svelte";
  export let props;
</script>

<Typography type="title">Props</Typography>
<Table rowPadding={8}>
  <Thead>
    <tr>
      <th>Prop name</th>
      <th>Type</th>
      <th>Options</th>
      <th>Description</th>
    </tr>
  </Thead>
  <Tbody>
    {#each Object.keys(props).sort() as prop}
      <tr>
        <td>{prop}</td>
        <td>{props[prop].type}</td>
        <td>{props[prop].options || ''}</td>
        <td>{props[prop].description || ''}</td>
      </tr>
    {/each}
  </Tbody>
</Table>
