<script>
  import Button from "../../components/Button.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    type: {
      type: "enum",
      options: "filled, flat, empty"
    },
    disabled: {
      type: "boolean"
    },
    status: {
      type: "enum",
      options: "primary, positive, negative, disabled, warning"
    },
    isLoading: {
      type: "boolean"
    },
    iconLeft: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    iconRight: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    }
  };
</script>

<DemoPage name="Button" {props}>
  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button>Button</Button>
<Button status="positive">Positive</Button>
<Button status="negative">Negative</Button>
<Button status="warning">Warning</Button>
<Button Disabled>Button</Button>
`}>
    <Button>Button</Button>
    <Spacer />
    <Button status="positive">Positive</Button>
    <Spacer />
    <Button status="negative">Negative</Button>
    <Spacer />
    <Button status="warning">Warning</Button>
    <Spacer />
    <Button disabled>Disabled</Button>
  </Example>

  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button type="flat">Flat</Button>
<Button type="flat" status="positive">Flat Positive</Button>
<Button type="flat" status="negative">Flat Negative</Button>
<Button type="flat" status="warning">Flat Warning</Button>
<Button type="flat" disabled>Flat Disabled</Button>
`}>
    <Button type="flat">Flat</Button>
    <Spacer />
    <Button type="flat" status="positive">Flat Positive</Button>
    <Spacer />
    <Button type="flat" status="negative">Flat Negative</Button>
    <Spacer />
    <Button type="flat" status="warning">Flat Warning</Button>
    <Spacer />
    <Button type="flat" disabled>Flat Disabled</Button>
  </Example>

  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button isLoading>Button</Button>
`}>
    <Button isLoading>Button</Button>
  </Example>

  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button iconLeft="chevron-left">Icon Left</Button>
<Button type="flat" status="positive" iconRight="chevron-right">
  Icon Right
</Button>
`}>
    <Button iconLeft="chevron-left">Icon Left</Button>
    <Spacer />
    <Button type="flat" status="positive" iconRight="chevron-right">
      Icon Right
    </Button>
  </Example>

  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button type="empty" >Empty</Button>
<Button type="empty" status="positive">Empty Positive</Button>
<Button type="empty" status="negative">Empty Negative</Button>
<Button type="empty" status="warning">Empty Warning</Button>
<Button type="empty" iconLeft="market" disabled>Empty Disabled</Button>
<Button type="empty" iconLeft="market">Empty Icon Left</Button>
`}>
    <Button type="empty">Empty</Button>
    <Spacer />
    <Button type="empty" status="positive">Empty Positive</Button>
    <Spacer />
    <Button type="empty" status="negative">Empty Negative</Button>
    <Spacer />
    <Button type="empty" status="warning">Empty Warning</Button>
    <Spacer />
    <Button type="empty" iconLeft="market" disabled>Empty Disabled</Button>
    <Spacer />
    <Button type="empty" iconLeft="market">Empty Icon Left</Button>
  </Example>

</DemoPage>
