<script>
  import Checkbox from "../../components/Checkbox.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    checked: {
      type: "boolean"
    },
    error: {
      type: "string"
    },
    disabled: {
      type: "boolean"
    }
  };

  let checked = false;
</script>

<DemoPage name="Checkbox" {props}>
  <Example
    code={`${'<'}script>
  import Checkbox from "svelte-atoms/Checkbox.svelte";
</script>

<Checkbox>I am checkbox</Checkbox>
<Checkbox checked={true}>I am checked</Checkbox>
<Checkbox error={true}>I am error</Checkbox>
<Checkbox disabled={true} checked={true}>I am disabled</Checkbox>
`}>
    <Checkbox>I am checkbox</Checkbox>
    <Checkbox checked={true}>I am checked</Checkbox>
    <Checkbox error={true}>I am error</Checkbox>
    <Checkbox disabled={true} checked={true}>I am disabled</Checkbox>
  </Example>

  <Example
    code={`${'<'}script>
  import Checkbox from "svelte-atoms/Checkbox.svelte";
  let checked = false;
</script>

<Checkbox bind:checked>Checked: {checked}</Checkbox>

`}>
    <Checkbox bind:checked>Checked: {checked}</Checkbox>

  </Example>
</DemoPage>
