<script>
  import Dropdown from "../../components/Dropdown.svelte";
  import Button from "../../components/Button.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  let isActive = true;
  const props = {
    closeOnClick: {
      type: "boolean"
    },
    disabled: {
      type: "boolean"
    },
    slot: {
      type: "slot"
    }
  };
</script>

<DemoPage name="Dropdown" {props}>

  <Example
    code={`${'<'}script>
  import Dropdown from "svelte-atoms/Dropdown.svelte";
  import Button from "svelte-atoms/Button.svelte";
</script>

 <Dropdown>
  <Button type="filled" status="primary">OpenDrodown</Button>
  <div slot="dropdown" class="content">Some dropdown content</div>
</Dropdown>

${'<'}style>
  .content {
    padding: 8px;
  }
</style>`}>
    <Dropdown>
      <Button type="filled" status="primary">OpenDrodown</Button>
      <div slot="dropdown" class="content">Some dropdown content</div>
    </Dropdown>
  </Example>
</DemoPage>

<style>
  .content {
    padding: 8px;
  }
</style>
