<script>
  import DropZone from "../../components/DropZone.svelte";
  import Spacer from "../../components/Spacer.svelte";

  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";

  const props = {
    disabled: {
      type: "boolean"
    },
    isLoading: {
      type: "boolean"
    },
    title: {
      type: "string"
    },
    buttonTitle: {
      type: "string"
    },
    activeTitle: {
      type: "string"
    },
    fileLoadingTitle: {
      type: "string"
    },
    fileTitle: {
      type: "string"
    },
    error: {
      type: "string"
    },
    dropOnPage: {
      type: "bool"
    }
  };
  let fileName = "";
  const onChange = e => {
    const file = e.dataTransfer ? e.dataTransfer.files[0] : e.target.files[0];
    fileName = file ? file.name : "";
  };
</script>

<DemoPage name="DropZone" {props}>

  <Example
    code={`${'<'}script>
  import DropZone from "svelte-atoms/DropZone.svelte";
  
  let fileName = "";
  const onChange = e => {
    const file = e.dataTransfer ? e.dataTransfer.files[0] : e.target.files[0];
    fileName = file ? file.name : "";
  };
</script>
 <DropZone fileTitle={fileName} dropOnPage on:drop={onChange} on:change={onChange} />
`}>
    <DropZone
      fileTitle={fileName}
      dropOnPage
      on:drop={onChange}
      on:change={onChange} />
  </Example>
  <Example
    code={`${'<'}script>
  import DropZone from "svelte-atoms/DropZone.svelte";
</script>
 <DropZone isLoading />
`}>
    <DropZone isLoading />
  </Example>
  <Example
    code={`${'<'}script>
  import DropZone from "svelte-atoms/DropZone.svelte";
</script>
<DropZone fileTitle="filename.txt" />
<DropZone fileTitle="filename.txt" error="error text" />
`}>
    <DropZone fileTitle="filename.txt" />
    <Spacer />
    <DropZone fileTitle="filename.txt" error="error text" />
  </Example>
  <Example
    code={`${'<'}script>
  import DropZone from "svelte-atoms/DropZone.svelte";
</script>
<DropZone disabled />
`}>
    <DropZone disabled />
  </Example>

</DemoPage>
<!-- 
<Spacer />
<DropZone dropOnPage /> -->
