<script>
  import Container from "../../components/Grids/Container.svelte";
  import Row from "../../components/Grids/Row.svelte";
  import Cell from "../../components/Grids/Cell.svelte";
  import Block from "../../components/Block.svelte";
  import Typography from "../../components/Typography.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    fluid: {
      type: "boolean",
      description: "container"
    },
    noGutters: {
      type: "boolean",
      description: "row"
    },
    verticalPadding: {
      type: "number",
      description: "row, cell"
    },
    topPadding: {
      type: "number",
      description: "row, cell"
    },
    bottomPadding: {
      type: "number",
      description: "row, cell"
    },
    xs: {
      type: "number",
      description: "cell"
    },
    sm: {
      type: "number",
      description: "cell"
    },
    md: {
      type: "number",
      description: "cell"
    },
    lg: {
      type: "number",
      description: "cell"
    },
    xl: {
      type: "number",
      description: "cell"
    },
    xsHidden: {
      type: "boolean",
      description: "cell"
    },
    smHidden: {
      type: "boolean",
      description: "cell"
    },
    mdHidden: {
      type: "boolean",
      description: "cell"
    },
    lgHidden: {
      type: "boolean",
      description: "cell"
    },
    xlHidden: {
      type: "boolean",
      description: "cell"
    },
    xsOffset: {
      type: "number",
      description: "cell"
    },
    smOffset: {
      type: "number",
      description: "cell"
    },
    mdOffset: {
      type: "number",
      description: "cell"
    },
    lgOffset: {
      type: "number",
      description: "cell"
    },
    xlOffset: {
      type: "number",
      description: "cell"
    },
    xsAuto: {
      type: "boolean",
      description: "cell"
    },
    smAuto: {
      type: "boolean",
      description: "cell"
    },
    mdAuto: {
      type: "boolean",
      description: "cell"
    },
    lgAuto: {
      type: "boolean",
      description: "cell"
    },
    xlAuto: {
      type: "boolean",
      description: "cell"
    }
  };
</script>

<DemoPage name="Grids" {props}>
  <Typography type="title">Container</Typography>
  <Example
    code={`${'<'}script>
  import Container from "svelte-atoms/Grids/Container.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Container><Block>Container</Block></Container>
`}>
    <Container>
      <Block>Container</Block>
    </Container>
  </Example>
  <Typography type="title">Row</Typography>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row><Cell><Block>Row</Block></Cell></Row>
<Row noGutters topPadding={8}><Cell><Block >Row no gutters</Block></Cell></Row>
`}>
    <Row>
      <Cell>
        <Block>Row</Block>
      </Cell>
    </Row>
    <Row noGutters topPadding={8}>
      <Cell>
        <Block>Row no gutters</Block>
      </Cell>
    </Row>
  </Example>
  <Typography type="title">Cell</Typography>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Cell from "svelte-atoms/Grids/Cell.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row>
  <Cell><Block>1</Block></Cell>
  <Cell><Block>2</Block></Cell>
</Row>
`}>

    <Row>
      <Cell>
        <Block>1</Block>
      </Cell>
      <Cell>
        <Block>2</Block>
      </Cell>
      <Cell>
        <Block>3</Block>
      </Cell>
    </Row>
  </Example>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Cell from "svelte-atoms/Grids/Cell.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row>
  <Cell xs={2}>
    <Block>xs=2</Block>
  </Cell>
  <Cell xs={10}>
    <Block>xs=10</Block>
  </Cell>
</Row>
`}>

    <Row>
      <Cell xs={2}>
        <Block>xs=2</Block>
      </Cell>
      <Cell xs={10}>
        <Block>xs=10</Block>
      </Cell>
    </Row>
  </Example>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Cell from "svelte-atoms/Grids/Cell.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row>
  <Cell xs={3}>
    <Block>xs=3</Block>
  </Cell>
  <Cell sm={3}>
    <Block>sm=3</Block>
  </Cell>
  <Cell md={3}>
    <Block>md=3</Block>
  </Cell>
  <Cell lg={3}>
    <Block>lg=3</Block>
  </Cell>
  <Cell xl={3}>
    <Block>xl=3</Block>
  </Cell>
</Row>
`}>

    <Row>
      <Cell xs={2}>
        <Block>xs=2</Block>
      </Cell>
      <Cell sm={2}>
        <Block>sm=2</Block>
      </Cell>
      <Cell md={2}>
        <Block>md=2</Block>
      </Cell>
      <Cell lg={2}>
        <Block>lg=2</Block>
      </Cell>
      <Cell xl={2}>
        <Block>xl=2</Block>
      </Cell>
    </Row>
  </Example>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Cell from "svelte-atoms/Grids/Cell.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row>
  <Cell xsHidden>
    <Block>xsHidden</Block>
  </Cell>
  <Cell smHidden>
    <Block>smHidden</Block>
  </Cell>
  <Cell mdHidden>
    <Block>mdHidden</Block>
  </Cell>
  <Cell lgHidden>
    <Block>lgHidden</Block>
  </Cell>
  <Cell xlHidden>
    <Block>xlHidden</Block>
  </Cell>
</Row>
`}>

    <Row>
      <Cell xsHidden>
        <Block>xsHidden</Block>
      </Cell>
      <Cell smHidden>
        <Block>smHidden</Block>
      </Cell>
      <Cell mdHidden>
        <Block>mdHidden</Block>
      </Cell>
      <Cell lgHidden>
        <Block>lgHidden</Block>
      </Cell>
      <Cell xlHidden>
        <Block>xlHidden</Block>
      </Cell>
    </Row>
  </Example>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Cell from "svelte-atoms/Grids/Cell.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row>
  <Cell xsAuto>
    <Block>xsAuto</Block>
  </Cell>
  <Cell smAuto>
    <Block>smAuto</Block>
  </Cell>
  <Cell mdAuto>
    <Block>mdAuto</Block>
  </Cell>
  <Cell lgAuto>
    <Block>lgAuto</Block>
  </Cell>
  <Cell xlAuto>
    <Block>xlAuto</Block>
  </Cell>
</Row>
`}>

    <Row>
      <Cell xsAuto>
        <Block>xsAuto</Block>
      </Cell>
      <Cell smAuto>
        <Block>smAuto</Block>
      </Cell>
      <Cell mdAuto>
        <Block>mdAuto</Block>
      </Cell>
      <Cell lgAuto>
        <Block>lgAuto</Block>
      </Cell>
      <Cell xlAuto>
        <Block>xlAuto</Block>
      </Cell>
    </Row>
  </Example>
  <Example
    code={`${'<'}script>
  import Row from "svelte-atoms/Grids/Row.svelte";
  import Cell from "svelte-atoms/Grids/Cell.svelte";
  import Block from "svelte-atoms/Block.svelte";
</script>

<Row bottomPadding={8}>
  <Cell xsOffset={2}>
    <Block>xsOffset=2</Block>
  </Cell>
</Row>
<Row bottomPadding={8}>
  <Cell smOffset={2}>
    <Block>smOffset=2</Block>
  </Cell>
</Row>
<Row bottomPadding={8}>
  <Cell mdOffset={2}>
    <Block>mdOffset=2</Block>
  </Cell>
</Row>
<Row bottomPadding={8}>
  <Cell lgOffset={2}>
    <Block>lgOffset=2</Block>
  </Cell>
</Row>
<Row>
  <Cell xlOffset={2}>
    <Block>xlOffset=2</Block>
  </Cell>
</Row>
`}>

    <Row bottomPadding={8}>
      <Cell xsOffset={2}>
        <Block>xsOffset=2</Block>
      </Cell>
    </Row>
    <Row bottomPadding={8}>
      <Cell smOffset={2}>
        <Block>smOffset=2</Block>
      </Cell>
    </Row>
    <Row bottomPadding={8}>
      <Cell mdOffset={2}>
        <Block>mdOffset=2</Block>
      </Cell>
    </Row>
    <Row bottomPadding={8}>
      <Cell lgOffset={2}>
        <Block>lgOffset=2</Block>
      </Cell>
    </Row>
    <Row>
      <Cell xlOffset={2}>
        <Block>xlOffset=2</Block>
      </Cell>
    </Row>
  </Example>
</DemoPage>
