<script>
  import Icon from "../../components/Icon.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import icons from "../../components/icons";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  let isActive = true;

  const alienIcon = `M6.647 7.134c.745 1.198.635 2.608-.256 3.177-.891.556-2.22.037-2.973-1.161-.745-1.198-.628-2.623.263-3.178.891-.555 2.22-.036 2.966 1.162m1.234 4.982c1.461 0 1.827-.548 1.827-.548s-.366 1.46-1.827 1.46c-1.46 0-1.826-1.438-1.826-1.46 0 0 .365.548 1.826.548m4.2-6.144c.892.555 1.009 1.98.264 3.178-.753 1.198-2.082 1.717-2.973 1.161-.892-.57-1.001-1.98-.256-3.177.745-1.198 2.075-1.717 2.966-1.162m-4.2 7.787c1.826 0 5.843-3.754 5.843-6.574S11.103 2.07 7.881 2.07c-3.221 0-5.844 2.294-5.844 5.114s4.018 6.574 5.844 6.574m0-13.149c4.018 0 7.305 2.951 7.305 6.575 0 2.98-4.149 8.035-7.305 8.035-3.155 0-7.305-5.055-7.305-8.035C.576 3.56 3.864.61 7.881.61z`;

  const svelteIcon = {
    viewbox: 32,
    pathes:[
      {color: '#ff3e00',path:`M27.922 4.487C25.01.32 19.259-.916 15.1 1.734L7.798 6.388A8.378 8.378 0 004.012 12a8.824 8.824 0 00.87 5.665 8.401 8.401 0 00-1.253 3.13 8.929 8.929 0 001.525 6.753c2.913 4.168 8.664 5.403 12.822 2.754l7.303-4.655a8.377 8.377 0 003.785-5.612 8.827 8.827 0 00-.87-5.664 8.4 8.4 0 001.253-3.131 8.926 8.926 0 00-1.525-6.753`},
      {color: '#ffffff',path:`M14.387 27.94a5.8 5.8 0 01-6.226-2.308 5.369 5.369 0 01-.918-4.06 5.093 5.093 0 01.175-.682l.137-.42.375.275a9.42 9.42 0 002.856 1.428l.272.082-.025.27a1.637 1.637 0 00.294 1.087 1.747 1.747 0 001.875.695 1.609 1.609 0 00.449-.197l7.303-4.654a1.52 1.52 0 00.686-1.016 1.623 1.623 0 00-.277-1.224 1.748 1.748 0 00-1.875-.696 1.608 1.608 0 00-.448.197l-2.787 1.776a5.33 5.33 0 01-1.483.651 5.8 5.8 0 01-6.226-2.308 5.368 5.368 0 01-.917-4.06 5.037 5.037 0 012.276-3.374l7.303-4.655a5.32 5.32 0 011.483-.652 5.8 5.8 0 016.227 2.308 5.369 5.369 0 01.917 4.06 5.152 5.152 0 01-.175.683l-.137.42-.374-.275a9.413 9.413 0 00-2.857-1.428l-.271-.083.025-.27a1.64 1.64 0 00-.295-1.086 1.747 1.747 0 00-1.875-.696 1.609 1.609 0 00-.448.197l-7.303 4.654a1.518 1.518 0 00-.686 1.017 1.62 1.62 0 00.276 1.224 1.748 1.748 0 001.875.696 1.614 1.614 0 00.449-.197l2.786-1.776a5.314 5.314 0 011.483-.652 5.8 5.8 0 016.226 2.308 5.368 5.368 0 01.918 4.06 5.04 5.04 0 01-2.277 3.375l-7.302 4.654a5.32 5.32 0 01-1.484.652`},
    ] 
  }

  const props = {
    icon: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    size: {
      type: "number"
    },
    status: {
      type: "enum",
      options: "primary, positive, negative, white, disabled, noactive"
    }
  };
</script>

<DemoPage name="Icon" {props}>
  <Example
    code={`${'<'}script>
  import Icon from "svelte-atoms/Icon.svelte";
</script>

<Icon icon="favorite" />
<Icon icon="favorite" size={24} /> With size
<Icon icon="favorite" status="primary" /> Primary
<Icon icon="favorite" status="positive" /> Positive
<Icon icon="favorite" status="negative" /> Negative
<Icon icon="favorite" status="disabled" /> Disabled
<Icon icon="favorite" status="noactive" /> Noactive
<Icon icon="favorite" status="white" /> White
`}>
    <Icon icon="favorite" />
    <Spacer />
    <Icon icon="favorite" size={24} />
    With size
    <Spacer />
    <Icon icon="favorite" status="primary" />
    Primary
    <Spacer />
    <Icon icon="favorite" status="positive" />
    Positive
    <Spacer />
    <Icon icon="favorite" status="negative" />
    Negative
    <Spacer />
    <Icon icon="favorite" status="disabled" />
    Disabled
    <Spacer />
    <Icon icon="favorite" status="noactive" />
    Noactive
    <Spacer />
    <Icon icon="favorite" status="white" />
    White
  </Example>

  <Example
    code={`${'<'}script>
  import Icon from "svelte-atoms/Icon.svelte";
  const alienIcon = \`M6.647 7.134c.745 1.198.635 2.608-.256 
  3.177-.891.556-2.22.037-2.973-1.161-.745-1.198-.628-2.623.263-3.178.891-.555 
  2.22-.036 2.966 1.162m1.234 4.982c1.461 0 1.827-.548 1.827-.548s-.366 1.46-1.827 
  1.46c-1.46 0-1.826-1.438-1.826-1.46 0 0 .365.548 1.826.548m4.2-6.144c.892.555 
  1.009 1.98.264 3.178-.753 1.198-2.082 1.717-2.973 
  1.161-.892-.57-1.001-1.98-.256-3.177.745-1.198 2.075-1.717 2.966-1.162m-4.2 
  7.787c1.826 0 5.843-3.754 5.843-6.574S11.103 2.07 7.881 2.07c-3.221 0-5.844 
  2.294-5.844 5.114s4.018 6.574 5.844 6.574m0-13.149c4.018 0 7.305 2.951 7.305 
  6.575 0 2.98-4.149 8.035-7.305 8.035-3.155 0-7.305-5.055-7.305-8.035C.576 
  3.56 3.864.61 7.881.61z\`;
</script>

<Icon icon={alienIcon} size={64} /> 
`}>
    <Icon icon={alienIcon} size={64} />
  </Example>

    <Example
    code={`${'<'}script>
  import Icon from "svelte-atoms/Icon.svelte";
  const svelteIcon = {
    viewbox: 32,
    pathes:[

      {color: '#ff3e00',path:\`M27.922 4.487C25.01.32 19.259-.916 15.1 
      1.734L7.798 6.388A8.378 8.378 0 004.012 12a8.824 8.824 0 00.87 5.665 
      8.401 8.401 0 00-1.253 3.13 8.929 8.929 0 001.525 6.753c2.913 4.168 
      8.664 5.403 12.822 2.754l7.303-4.655a8.377 8.377 0 003.785-5.612 8.827 
      8.827 0 00-.87-5.664 8.4 8.4 0 001.253-3.131 8.926 8.926 0 00-1.525-6.753\`},

      {color: '#ffffff',path:\`M14.387 27.94a5.8 5.8 0 01-6.226-2.308 5.369 5.369 
      0 01-.918-4.06 5.093 5.093 0 01.175-.682l.137-.42.375.275a9.42 9.42 0 
      002.856 1.428l.272.082-.025.27a1.637 1.637 0 00.294 1.087 1.747 1.747 
      0 001.875.695 1.609 1.609 0 00.449-.197l7.303-4.654a1.52 1.52 0 
      00.686-1.016 1.623 1.623 0 00-.277-1.224 1.748 1.748 0 00-1.875-.696 
      1.608 1.608 0 00-.448.197l-2.787 1.776a5.33 5.33 0 01-1.483.651 5.8 5.8 0 
      01-6.226-2.308 5.368 5.368 0 01-.917-4.06 5.037 5.037 0 
      012.276-3.374l7.303-4.655a5.32 5.32 0 011.483-.652 5.8 5.8 0 016.227 
      2.308 5.369 5.369 0 01.917 4.06 5.152 5.152 0 01-.175.683l-.137.42-.374-.275a9.413 
      9.413 0 00-2.857-1.428l-.271-.083.025-.27a1.64 1.64 0 00-.295-1.086 
      1.747 1.747 0 00-1.875-.696 1.609 1.609 0 00-.448.197l-7.303 4.654a1.518 
      1.518 0 00-.686 1.017 1.62 1.62 0 00.276 1.224 1.748 1.748 0 001.875.696 
      1.614 1.614 0 00.449-.197l2.786-1.776a5.314 5.314 0 011.483-.652 5.8 5.8 
      0 016.226 2.308 5.368 5.368 0 01.918 4.06 5.04 5.04 0 01-2.277 3.375l-7.302 
      4.654a5.32 5.32 0 01-1.484.652\`}

    ] 
  }
</script>

<Icon icon={svelteIcon} size={128} /> 
`}>
    <Icon icon={svelteIcon} size={128} />
  </Example>

  {#each Object.keys(icons).sort() as key}
    <div>
      <Icon icon={key} />
      {key}
    </div>
  {/each}
</DemoPage>
