<script>
  import IconButton from "../../components/IconButton.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    icon: {
      type: "string"
    },
    size: {
      type: "enum",
      options: "large, medium, small"
    },
    status: {
      type: "enum",
      options: "primary, positive, negative, noactive"
    },
    type: {
      type: "enum",
      options: "flat, filled"
    },
    disabled: {
      type: "boolean"
    }
  };
  let isActive = true;
  const onClick = () => alert("click");
</script>

<DemoPage name="IconButton" {props}>

  <Example
    code={`${'<'}script>
  import IconButton from "svelte-atoms/IconButton.svelte";
</script>

<IconButton icon="key" />
`}>
    <IconButton icon="key" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconButton from "svelte-atoms/IconButton.svelte";
</script>

<IconButton icon="key" status="positive" />
<IconButton icon="key" status="negative" />
<IconButton icon="key" status="noactive" />
<IconButton icon="key" status="disabled" />
`}>
    <IconButton icon="key" status="positive" />
    <IconButton icon="key" status="negative" />
    <IconButton icon="key" status="noactive" />
    <IconButton icon="key" status="disabled" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconButton from "svelte-atoms/IconButton.svelte";
</script>

<IconButton icon="key" type="filled" status="primary" />
<IconButton icon="key" type="filled" status="positive" />
<IconButton icon="key" type="filled" status="negative" />
<IconButton icon="key" type="filled" status="noactive" />
`}>
    <IconButton icon="key" type="filled" status="primary" />
    <IconButton icon="key" type="filled" status="positive" />
    <IconButton icon="key" type="filled" status="negative" />
    <IconButton icon="key" type="filled" status="noactive" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconButton from "svelte-atoms/IconButton.svelte";
</script>

<IconButton icon="key" type="filled" status="primary" size="large" />
<IconButton icon="key" type="filled" status="primary" size="medium" />
<IconButton icon="key" type="filled" status="primary" size="small" />
`}>

    <IconButton icon="key" type="filled" status="primary" size="large" />
    <IconButton icon="key" type="filled" status="primary" size="medium" />
    <IconButton icon="key" type="filled" status="primary" size="small" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconButton from "svelte-atoms/IconButton.svelte";
  const onClick = () => alert("click");
</script>

<IconButton icon="key" type="filled" status="primary" on:click={onClick} />
<IconButton icon="key" type="filled" status="primary" on:click={onClick} disabled />
`}>
    <IconButton icon="key" type="filled" status="primary" on:click={onClick} />
    <IconButton
      icon="key"
      type="filled"
      status="primary"
      on:click={onClick}
      disabled />
  </Example>

</DemoPage>
