<script>
  import IconStatus from "../../components/IconStatus.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    icon: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    size: {
      type: "number"
    },
    status: {
      type: "enum",
      options: "primary, positive, negative, noactive, disabled, warning"
    },
    type: {
      type: "enum",
      options: "flat, filled"
    }
  };
</script>

<DemoPage name="IconStatus" {props}>
  <Example
    code={`${'<'}script>
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<IconButton icon="key" />
`}>
    <IconStatus icon="attention" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<IconStatus icon="attention" status="negative" />
<IconStatus icon="attention" status="positive" />
<IconStatus icon="attention" status="warning" />
`}>
    <IconStatus icon="attention" status="negative" />
    <IconStatus icon="attention" status="positive" />
    <IconStatus icon="attention" status="warning" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<IconStatus icon="attention" status="primary" />
<IconStatus icon="attention" status="positive" />
<IconStatus icon="attention" status="negative" />
<IconStatus icon="attention" status="noactive" />
<IconStatus icon="attention" status="disabled" />
<IconStatus icon="attention" status="warning" />
`}>
    <IconStatus icon="attention" status="primary" />
    <IconStatus icon="attention" status="positive" />
    <IconStatus icon="attention" status="negative" />
    <IconStatus icon="attention" status="noactive" />
    <IconStatus icon="attention" status="disabled" />
    <IconStatus icon="attention" status="warning" />
  </Example>

  <Example
    code={`${'<'}script>
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<IconStatus icon="attention" status="negative" size={40} />
<IconStatus icon="attention" status="negative" size={80} />
`}>
    <IconStatus icon="attention" status="negative" size={40} />
    <IconStatus icon="attention" status="negative" size={80} />
  </Example>

  <Example
    code={`${'<'}script>
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<IconStatus icon="attention" status="primary" type="filled" />
<IconStatus icon="attention" status="positive" type="filled" />
<IconStatus icon="attention" status="negative" type="filled" />
<IconStatus icon="attention" status="noactive" type="filled" />
<IconStatus icon="attention" status="disabled" type="filled" />
<IconStatus icon="attention" status="warning" type="filled" />
`}>
    <IconStatus icon="attention" status="primary" type="filled" />
    <IconStatus icon="attention" status="positive" type="filled" />
    <IconStatus icon="attention" status="negative" type="filled" />
    <IconStatus icon="attention" status="noactive" type="filled" />
    <IconStatus icon="attention" status="disabled" type="filled" />
    <IconStatus icon="attention" status="warning" type="filled" />
  </Example>

</DemoPage>
