<script>
  import Input from "../../components/Input.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import Example from "../_components/Example.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  const props = {
    title: {
      type: "string"
    },
    placeholder: {
      type: "string"
    },
    size: {
      type: "enum",
      options: "big, small, medium"
    },
    value: {
      type: "string, number"
    },
    error: {
      type: "string"
    },
    successful: {
      type: "boolean"
    },
    disabled: {
      type: "boolean"
    },
    required: {
      type: "boolean"
    },
    isLoading: {
      type: "boolean"
    },
    icon: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    iconStatus: {
      type: "enum",
      options:
        "primary, positive, negative, noactive, disabled, noactive, warning"
    },
    type: {
      type: "string",
      description: "Any valid html input type"
    },
    hint: {
      type: "string"
    },
    slot: { type: "slot" },
    textarea: { type: "boolean" },
    rows: { type: "number" }
  };
  let value = "";
</script>

<DemoPage name="Input" {props}>

  <Example
    code={`${'<'}script>
  import Input from "svelte-atoms/Input.svelte";
  let value = '';
</script>

<Input bind:value title='Title' placeholder="placeholder"/> {value}
`}>
    <Input bind:value title="Title" placeholder="placeholder" />
    {value}
  </Example>

  <Example
    code={`${'<'}script>
  import Input from "svelte-atoms/Input.svelte";
</script>

<Input title="Big" value="Big" size="big" />
<Input title="Medium" value="Medium" size="medium" />
<Input title="Small" value="Small" size="small" />
`}>
    <Input title="Big" value="Big" size="big" />
    <Spacer />
    <Input title="Medium" value="Medium" size="medium" />
    <Spacer />
    <Input title="Small" value="Small" size="small" />
  </Example>

  <Example
    code={`${'<'}script>
  import Input from "svelte-atoms/Input.svelte";
</script>

<Input title="Error" value="Error" error="error text" />
<Input title="Successful" value="Successful" successful={true} />
<Input title="Disabled" value="Disabled" disabled />
<Input
  title="Required and loading"
  value="Required and loading"
  required
  isLoading />
<Input title="With hint" value="Hont" hint="There is a hint" />
<Input title="With icon" value="With icon" icon="calendar" />
<Input title="With right element" value="With right element">ƒ</Input>
`}>
    <Input title="Error" value="Error" error="error text" />
    <Spacer />
    <Input title="Successful" value="Successful" successful={true} />
    <Spacer />
    <Input title="Disabled" value="Disabled" disabled />
    <Spacer />
    <Input
      title="Required and loading"
      value="Required and loading"
      required
      isLoading />
    <Spacer />
    <Input title="With hint" value="Hont" hint="There is a hint" />
    <Spacer />
    <Input title="With icon" value="With icon" icon="calendar" />
    <Spacer />
    <Input title="With right element" value="With right element">ƒ</Input>
  </Example>

  <Example
    code={`${'<'}script>
  import Input from "svelte-atoms/Input.svelte";
</script>

<Input title="Password" value="Password" type="password" />
`}>
    <Input title="Password" value="Password" type="password" />
  </Example>
  <Example
    code={`${'<'}script>
  import Input from "svelte-atoms/Input.svelte";
</script>

<Input title="Title" placeholder="placeholder" textarea rows={5} />
`}>
    <Input title="Title" placeholder="placeholder" textarea rows={5} />
  </Example>
</DemoPage>
