<script>
  import Loader from "../../components/Loader.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    size: {
      type: "number"
    },
    status: {
      type: "enum",
      options: "primary, positive, negative, white, disabled, noactive"
    },
    slot: {
      type: "slot"
    }
  };
</script>

<DemoPage name="Loader" {props}>
  <Example
    code={`${'<'}script>
  import Loader from "svelte-atoms/Loader.svelte";
</script>

<Input title="Password" value="Password" type="password" />
`}>
    <Loader />
  </Example>
  <Example
    code={`${'<'}script>
  import Loader from "svelte-atoms/Loader.svelte";
</script>

<Loader status="primary" />
<Loader status="positive" />
<Loader status="negative" />
<Loader status="white" />
<Loader status="disabled" />
<Loader status="noactive" />
`}>
    <Loader status="primary" />
    <Loader status="positive" />
    <Loader status="negative" />
    <Loader status="white" />
    <Loader status="disabled" />
    <Loader status="noactive" />
  </Example>

  <Example
    code={`${'<'}script>
  import Loader from "svelte-atoms/Loader.svelte";
</script>

<Loader size={20} />
<Loader size={50} />
`}>
    <Loader size={20} />
    <Loader size={50} />
  </Example>

  <Example
    code={`${'<'}script>
  import Loader from "svelte-atoms/Loader.svelte";
</script>

<Loader>Loading</Loader>
`}>
    <Loader>Loading</Loader>
  </Example>

</DemoPage>
