<script>
  import Notifications, {
    sendNotification
  } from "../../components/Notifications.svelte";
  import Example from "../_components/Example.svelte";
  import Button from "../../components/Button.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  const props = {
    notifications: {
      type:
        "array of shape { id?:any, text:string, delay?:number, type?:'primary'|'positive'|'negative'|'warning', icon:?:string }, noIcon?:bool"
    },
    delay: {
      type: "number"
    },
    type: {
      type: "enum",
      options: "dark, light"
    }
  };
  const texts = [
    "1154 – Henry II was crowned king of England in Westminster Abbey, London.",
    "1941 – Second World War: six Italian Royal Navy divers on manned torpedoes detonated limpet mines, disabling four vessels, including two Royal Navy battleships.",
    "1984 – China and the United Kingdom signed the Sino-British Joint Declaration, agreeing to the transfer of sovereignty of Hong Kong to China on 1 July 1997.",
    "2013 – The European Space Agency's Gaia space observatory was launched, with the goal of constructing the largest and most precise star catalogue ever made."
  ];
  let notifications = [
    {
      id: 1,
      text: texts[0]
    }
  ];
  const addNotifiocation = () => {
    notifications = [
      ...notifications,
      {
        id: Math.random(),
        text: texts[Math.floor(Math.random() * texts.length)]
      }
    ];
  };

  const sendSimple = () => sendNotification("Simple notification");

  const sendNegative = () => sendNotification("Negative notification", { status: "negative" });

  const sendPositive = () => sendNotification("Positive notification with custom icon", {
    status: "positive",
    icon: "check"
  });

  const sendPrimary = () => sendNotification("Primary with cusom delay", {
    status: "primary",
    delay: 10000
  });

  const sendWarning = () => sendNotification("Warning with no icon", {
    status: "warning",
    noIcon: true
  });
</script>

<DemoPage name="Notifications" {props}>
  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
  import Notifications from "svelte-atoms/Notifications.svelte";
  const texts = [
    "1154 – Henry II was crowned king of England in Westminster Abbey, London.",
    "1941 – Second World War: six Italian Royal Navy divers on manned torpedoes detonated limpet mines, disabling four vessels, including two Royal Navy battleships.",
    "1984 – China and the United Kingdom signed the Sino-British Joint Declaration, agreeing to the transfer of sovereignty of Hong Kong to China on 1 July 1997.",
    "2013 – The European Space Agency's Gaia space observatory was launched, with the goal of constructing the largest and most precise star catalogue ever made."
  ];
  let notifications = [{id: 1, text: texts[0]}];
  const addNotifiocation = () => {
    notifications = [...notifications,{ 
        id: Math.random(),
        text: texts[Math.floor(Math.random() * texts.length)]
      }];
  };
</script>

<Button on:click={addNotifiocation}>Add notification</Button>
<Notifications bind:notifications />
`}>
    <Button on:click={addNotifiocation}>Add notification</Button>

    <Notifications bind:notifications />
  </Example>

  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
  import Notifications, { sendNotification } from "svelte-atoms/Notifications.svelte";

  const sendSimple = () => sendNotification("Simple notification");

  const sendNegative = () => sendNotification("Negative notification", { status: "negative" });

  const sendPositive = () => sendNotification("Positive notification with custom icon", {
    status: "positive",
    icon: "check"
  });

  const sendPrimary = () => sendNotification("Primary with cusom delay", {
    status: "primary",
    delay: 10000
  });

  const sendWarning = () => sendNotification("Warning with no icon", {
    status: "warning",
    noIcon: true
  });
</script>

<Button on:click={sendSimple}>Send simple</Button>
<Button on:click={sendNegative} status="negative">Send negative</Button>
<Button on:click={sendPositive} status="positive">Send positive</Button>
<Button on:click={sendPrimary} status="primary">Send primary</Button>
<Button on:click={sendWarning} status="warning">Send warning</Button>
<Notifications />
`}>
    <Button on:click={sendSimple}>Send simple</Button>
    <Spacer/>
    <Button on:click={sendNegative} status="negative">Send negative</Button>
    <Spacer/>
    <Button on:click={sendPositive} status="positive">Send positive</Button>
    <Spacer/>
    <Button on:click={sendPrimary} status="primary">Send primary</Button>
    <Spacer/>
    <Button on:click={sendWarning} status="warning">Send warning</Button>
  </Example>
</DemoPage>
