<script>
  import Pagination from "../../components/Pagination.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";

  const props = {
    totalRecords: {
      type: "number"
    },
    pageSize: {
      type: "number"
    },
    limits: {
      type: "array of numbers"
    },
    offset: {
      type: "number"
    },
    forwardButtonText: {
      type: "string"
    },
    backButtonText: {
      type: "string"
    }
  };
  let offset = 0;
  let pageSize = 10;
</script>

<DemoPage name="Pagination" {props}>
  <Example
    column
    code={`${'<'}script>
  import Pagination from "svelte-atoms/Loader.svelte";
  let offset = 0;
  let pageSize = 10;
</script>

<Pagination totalRecords={50} bind:offset bind:pageSize />
`}>
    <Pagination totalRecords={50} bind:offset bind:pageSize />
  </Example>

</DemoPage>
