<script>
  import Button from "../../components/Button.svelte";
  import Popup from "../../components/Popup.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    header: {
      type: "string"
    },
    isOpen: {
      type: "boolean"
    },
    "slot-header": {
      type: "slot"
    },
    "slot-footer": {
      type: "slot"
    }
  };
  let isOpen = false;
  const close = () => (isOpen = false);
  const open = () => (isOpen = true);
</script>

<DemoPage name="Popup" {props}>
  <Example
    code={`${'<'}script>
  import Popup from "svelte-atoms/Popup.svelte";
  import Button from "svelte-atoms/Button.svelte";
  let isOpen = false;
  const close = () => (isOpen = false);
  const open = () => (isOpen = true);
</script>

<Button on:click={open}>Open</Button>
<Popup {isOpen} on:close={close} header="Title">
  Popup
  <div slot="footer">
    <Button on:click={close}>Ok</Button>
  </div>
</Popup>
`}>
    <Button on:click={open}>Open</Button>
    <Popup {isOpen} on:close={close} header="Title">
      Popup
      <div slot="footer">
        <Button on:click={close}>Ok</Button>
      </div>
    </Popup>
  </Example>

</DemoPage>
