<script>
  import Radio from "../../components/Radio.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    value: {
      type: "string, number"
    },
    group: {
      type: "string, number"
    },
    error: {
      type: "boolean"
    },
    disabled: {
      type: "boolean"
    }
  };
  let radio = 2;
</script>

<DemoPage name="Radio" {props}>
  <Example
    code={`${'<'}script>
  import Radio from "svelte-atoms/Radio.svelte";
  let radio = 2;
</script>

<Radio bind:group={radio} value={1}>Basic</Radio>
<Radio bind:group={radio} value={2}>Basic selected</Radio>
<Radio bind:group={radio} value={3} error="error">Error</Radio>
<Radio bind:group={radio} value={4} disabled>Disabled</Radio>
`}>
    <Radio bind:group={radio} value={1}>Basic</Radio>
    <Radio bind:group={radio} value={2}>Basic selected</Radio>
    <Radio bind:group={radio} value={3} error="error">Error</Radio>
    <Radio bind:group={radio} value={4} disabled>Disabled</Radio>
  </Example>

</DemoPage>
