<script>
  import Select from "../../components/Select.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    value: {
      type: "string, number"
    },
    options: {
      type: "array of shape {label: number or string, value: number or string}"
    },
    title: {
      type: "string"
    },
    placeholder: {
      type: "string"
    },
    error: {
      type: "string"
    },
    size: {
      type: "enum",
      options: "big, small, medium"
    },
    disabled: {
      type: "boolean"
    },
    required: {
      type: "boolean"
    },
    isLoading: {
      type: "boolean"
    }
  };
  const options = [
    { label: "option 1", value: 1 },
    { label: "option 2", value: 2 }
  ];
  let value = 1;
</script>

<DemoPage name="Select" {props}>
  <Example
    code={`${'<'}script>
  import Select from "svelte-atoms/Radio.svelte";
  const options = [
    { label: "option 1", value: 1 },
    { label: "option 2", value: 2 }
  ];
  let value = 1;
</script>

<Select bind:value {options} title="Select" placeholder="Select option" />
`}>
    <Select bind:value {options} title="Select" placeholder="Select option" />
  </Example>

</DemoPage>
