<script>
  import Switch from "../../components/Switch.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    checked: {
      type: "boolean"
    },
    type: {
      type: "enum",
      options: "primary, flat"
    },
    disabled: {
      type: "boolean"
    },
    title: {
      type: "string"
    },
    left: {
      type: "string"
    },
    right: {
      type: "string"
    },
    isLoading: {
      type: "boolean"
    }
  };
  let checked = false;
</script>

<DemoPage name="Switch" {props}>
  <Example
    code={`${'<'}script>
  import Switch from "svelte-atoms/Switch.svelte";
  let checked = false;
</script>

<Switch bind:checked/>Checked: {checked}
`}>
    <Switch bind:checked />
    Checked: {checked}
  </Example>

  <Example
    code={`${'<'}script>
  import Switch from "svelte-atoms/Switch.svelte";
</script>

<Switch isLoading={true} />
`}>
    <Switch isLoading={true} />
  </Example>

  <Example
    code={`${'<'}script>
  import Switch from "svelte-atoms/Switch.svelte";
</script>

<Switch type="flat" checked={true} />
`}>
    <Switch type="flat" checked={true} />
  </Example>

  <Example
    code={`${'<'}script>
  import Switch from "svelte-atoms/Switch.svelte";
</script>

<Switch disabled />
<Switch disabled checked={true} />
`}>
    <Switch disabled />
    <Spacer />
    <Switch disabled checked={true} />
  </Example>

  <Example
    code={`${'<'}script>
  import Switch from "svelte-atoms/Switch.svelte";
</script>

<Switch title="Title" right="right" />
<Switch left="left" right="right" />
`}>
    <Switch title="Title" right="right" />
    <Spacer />
    <Switch left="left" right="right" />
  </Example>

</DemoPage>
