<script>
  import Tabs from "../../components/Tabs.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    tabs: {
      type: "array of shape {id: any, text:string or number}"
    },
    activeTab: {
      type: "string, number"
    }
  };

  const tabs = [
    { id: 1, text: "Tab 1" },
    { id: 2, text: "Tab 2" },
    { id: 3, text: "Tab 3" }
  ];
  let activeTab = 1;
</script>

<DemoPage name="Tabs" {props}>
  <Example
    code={`${'<'}script>
  import Tabs from "svelte-atoms/Tabs.svelte";
  const tabs = [
    { id: 1, text: "Tab 1" },
    { id: 2, text: "Tab 2" },
    { id: 3, text: "Tab 3" }
  ];
  let activeTab = 1;
</script>

<Tabs {tabs} bind:activeTab />
`}>
    <Tabs {tabs} bind:activeTab />
  </Example>

</DemoPage>
