<script>
  import Typography from "../../components/Typography.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    type: {
      type: "enum",
      options:
        "headline, title, subheader, inputtext, infotext, body1, accent, body2, body3, button, caption, tabtitle, linkunderline, link, tabactive, tabdefault"
    },
    block: {
      type: "boolean"
    }
  };
</script>

<DemoPage name="Typography" {props}>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="headline" block>Headline</Typography>
`}>
    <Typography type="headline" block>Headline</Typography>
  </Example>

  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="title" block>Title</Typography>
`}>
    <Typography type="title" block>Title</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="subheader" block>Subheader</Typography>
`}>
    <Typography type="subheader" block>Subheader</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="inputtext" block>Inputtext</Typography>
`}>
    <Typography type="inputtext" block>Inputtext</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="infotext" block>Infotext</Typography>
`}>
    <Typography type="infotext" block>Infotext</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="body1" block>Body1</Typography>
`}>
    <Typography type="body1" block>Body1</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="body2" block>Body2</Typography>
`}>
    <Typography type="body2" block>Body2</Typography>
  </Example>

  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="body3" block>Body3</Typography>
`}>
    <Typography type="body3" block>Body3</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="button" block>Button</Typography>
`}>
    <Typography type="button" block>Button</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="caption" block>Caption</Typography>
`}>
    <Typography type="caption" block>Caption</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="tabtitle" block>Tabtitle</Typography>
`}>
    <Typography type="tabtitle" block>Tabtitle</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="linkunderline" block>Linkunderline</Typography>
`}>
    <Typography type="linkunderline" block>Linkunderline</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="link" block>Link</Typography>
`}>
    <Typography type="link" block>Link</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="tabactive" block>Tabactive</Typography>
`}>
    <Typography type="tabactive" block>Tabactive</Typography>
  </Example>
  <Example
    code={`${'<'}script>
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Typography type="tabdefault" block>Tabdefault</Typography>
`}>
    <Typography type="tabdefault" block>Tabdefault</Typography>
  </Example>

</DemoPage>
